[Desktop Entry]
Encoding=iso-8859-1
Exec=albumart-qt
TerminalOptions=
Path=
Type=Application
MimeType=
Terminal=0
Icon=albumart
GenericName=Album Cover Art Downloader
GenericName[fi]=Albumikansikuvien noutaja
Name=AlbumArt
X-KDE-StartupNotify=true
X-DCOP-ServiceType=Unique
Categories=Qt;KDE;AudioVideo;Graphics
