# these are included in the source repository
include Makefile
include README
include INSTALL
include TODO
include CHANGELOG
include COPYING
include share/applnk/Multimedia/albumart.desktop
include setup.py
include bin/albumart-qt
include share/albumart/*
include share/pixmaps/*
include share/applnk/Multimedia/albumart.desktop
include share/apps/konqueror/servicemenus/albumart_set_cover_image.desktop
include lib/albumart/*.py
include lib/albumart/*.ui
include lib/albumart/Makefile
include lib/albumart/id3/*.py
include lib/albumart/yahoo/*.py
include lib/albumart/yahoo/search/*.py
include debian/*
include MANIFEST.in

