# these are included in the source repository
include README
include INSTALL
include TODO
include albumart.desktop
include setup.py
include bin/albumart-qt
include share/albumart/*
include share/pixmaps/*
include share/applnk/Multimedia/albumart.desktop
include lib/albumart/albumart.py
include lib/albumart/albumartdialog.py
include lib/albumart/albumartdialog_qt230.py
include lib/albumart/albumartdialog_qt300.py
include lib/albumart/amazon.py
include lib/albumart/version.py
include debian/*
include src/*
